:root {
    --primeira-cor: #000DFF;
    --segunda-cor: #000000;
    --terceira-cor: #000561;
    --quarta-cor: #ffffffd6;
    --quinta-cor: #0a1081;
    --sexta-cor: #3942e7;
    --sentima-cor: #0408baa5;
    --oitava-cor: #360388;
}



@media (max-width: 480px) {


    /*///////////////////////////////////comeco////////////////////////////////////// */

    h1 {
        font-size: 2.0rem;
        text-align: center;
        margin: 5px;
        margin-left: 30px;
    }

    .descricao {

        text-align: center;
        font-size: 1.6rem;
    }

    .foto-do-perfil {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }


    /* //////////////////////////////////sobre mim////////////////////////////////////// */

    .sobre {
        margin-top: -80px;
    }


    .sobre-titulo {
        font-size: 1.8rem;
    }

    .sobre-caixa {
        padding: 0.5rem;
        max-width: 100%;
    }

    .sobre-texto {
        font-size: 1.0rem;
    }

    /* //////////////////////////////////projetos////////////////////////////////////// */

    .projetos-titulo {
        font-size: 1.4rem;
    }

    .projetos {
        margin-top: -90px;
    }

    .projetos-caixa {
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .projeto-card-imagem {
        width: 100%;
        height: auto;
        max-height: 220px;
        object-fit: cover;
        margin: 0 auto;
        border-radius: 12px;
    }

    .projeto-card-titulo {
        font-size: 1.3rem;
    }



    .projeto-card-descricao {
        font-size: 1.05rem;
    }

    .projeto-card-botao {
        font-size: 1.05rem;
        text-decoration: none;
    }

    /* //////////////////////////////////contato////////////////////////////////////// */

    .contato {
        margin-top: -90px;
    }

    .formulario-contato {
        max-width: 90%;
        margin: 0 auto;
    }

    /*/////////////////rede social///////////////////// */

    .texto-rede-social {
        font-size: 1.05rem;
        text-align: center;


    }

    .meio-de-contato {

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rede {
        text-align: center;
        margin-left: 20px;
    }

    /*/////////////////rodape///////////////////// */
    .rodape-texto {
        font-size: 1.05rem;
        text-align: center;
    }






}









@media only screen and (max-width: 768px) {



    .sobre-titulo {
        font-size: 2rem;
    }

    .sobre-caixa {
        padding: 1rem;
        max-width: 90%;
    }

    .sobre-texto {
        font-size: 1rem;
    }

    .projetos-titulo {
        font-size: 1.5rem;
    }

    .menu {
        margin: auto 0;
        gap: 1.5rem;
        font-size: 0.8rem;
    }

    /*///////////////////////////////////comeco////////////////////////////////////// */

    .comeco {
        padding: 6rem 2rem;
    }

    .foto-do-perfil {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 3.0rem;
        text-align: center;
        margin: 5px;
        margin-left: 30px;


    }

    .sub-descrição {
        font-size: 2.0rem;
        margin: 5px;
        margin-left: 30px;
        text-align: center;
    }

    .descricao {


        max-width: 400px;
        text-align: center;
        font-size: 1.25rem;


    }

    /* //////////////////////////////////sobre mim////////////////////////////////////// */
    .sobre {

        margin-top: -80px;
    }

    .sobre-titulo {
        font-size: 2.4rem;

    }

    .sobre-caixa {

        max-width: 80%;
        margin: 0 auto;
        margin-top: 10px;
        padding: 1rem;
        text-align: center;
    }



    /*/////////////////projetos///////////////////// */
    .projetos {
        margin-top: -90px;
    }

    .projetos-titulo {
        font-size: 2.4rem;
    }

    .projetos-caixa {

        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .projeto-card-imagem {
        width: 100%;
        height: auto;
        max-height: 320px;
        margin: 0 auto;
    }

    .projeto-card-titulo {
        font-size: 1.75rem;
    }

    .projeto-card-descricao {
        font-size: 1.1rem;
    }

    .projeto-card-botao {
        font-size: 1.05rem;
        text-decoration: none;
    }


    /* //////////////////////////////////contato////////////////////////////////////// */
    .contato {
        margin-top: -90px;
    }

    .formulario-contato {
        max-width: 90%;
        margin: 0 auto;
    }




    /*/////////////////rede social///////////////////// */


    .img-contato {
        width: 60px;
        height: 60px;
    }

    .texto-rede-socia {
        font-size: 1.2rem;
        text-align: center;
    }

    .contatos-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    /*/////////////////rodape///////////////////// */

    .rodape-texto {
        font-size: 1.2rem;
        text-align: center;
    }

}

@media only screen and (max-width: 940px) {

    /* ////////////////////////////////////comeco///////////////////// */

    .sub-descrição {
        font-size: 2rem;
        margin: 5px;
        margin-left: 30px;
        text-align: center;
    }

    .sobre {
        margin-top: -80px;
    }

    .sobre-titulo {
        font-size: 3rem;
        margin-bottom: 20px;
    }


    .sobre-caixa {
        padding: 1rem;
        max-width: 90%;
        height: auto;
    }

    .sobre-texto {
        font-size: 1.2rem;
    }



    /* //////////////////////////////projetos///////////////////// */

    .projetos {
        margin-top: -90px;
    }

    .projetos-titulo {
        font-size: 3rem;
    }

    .projetos-caixa {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    /* //////////////////////////////contato///////////////////// */

    .img-contato {
        width: 60px;
        height: 60px;
    }

    .texto-rede-social {
        font-size: 1.2rem;
        text-align: center;

    }

    .contatos-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
}




/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {
    .sub-descrição {
        font-size: 2rem;

    }

    /* /////////////////////////////////////sobre mim/////////////////////////// */


    .sobre-titulo {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .sobre {
        margin-top: -100px;
    }

    /* //////////////////////////////projetos///////////////////// */

    .projeto {
        margin-top: -100px;
    }

    .projetos-titulo {
        font-size: 3rem;
    }

    .projetos-caixa {

        max-width: 1000px;

    }

    .projeto-card-botao {
        font-size: 1rem;
        text-decoration: none;
    }


    /* //////////////////////////////contato///////////////////// */

    .texto-rede-social {
        font-size: 1.2rem;
        text-align: center;

    }

    .img-contato {
        width: 80px;
        height: 80px;
    }

    .contatos-icons {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .rede {
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 30px;

    }


}