@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Freckle+Face&family=Oswald:wght@200..700&family=TASA+Orbiter:wght@400..800&family=Tektur:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tektur", sans-serif;
    color: var(--quarta-cor);
}

/* Essa propriedade é usada para controlar o comportamento de rolagem em elementos de rolagem.
Quando definida como 'smooth', a rolagem ocorre de forma suave, com uma transição gradual,
em vez de um deslocamento abrupto. Isso cria uma experiência de rolagem mais suave e agradável
   para os usuários. */

html {
    scroll-behavior: smooth;
}

:root {
    --primeira-cor: #000DFF;
    --segunda-cor: #000000;
    --terceira-cor: #000561;
    --quarta-cor: #ffffffd6;
    --quinta-cor: #0a1081;
    --sexta-cor: #3942e7;
    --sentima-cor: #0408baa5;
    --oitava-cor: #360388;
}

body {
    background: #030005;
    background: linear-gradient(182deg, rgba(3, 0, 5, 1) 0%, rgba(0, 0, 237, 1) 68%, rgb(1, 19, 184) 70%);
}


/*////////////////////////////////menu de navegação////////////////////////////////////// */
.navegacao {
    position: fixed;
    background-color: rgba(15, 23, 42, 0.8);
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    gap: 3rem;
    justify-content: center;
    list-style: none;
}

.menu-link {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
    padding: 0.5rem 0;
}

/* efeito de sublinhado animado para os links do menu */
.menu-link::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--oitava-cor);
    left: 0;
    bottom: 0;
    transition: 0.4s ease-in-out;
}

.menu-link:hover::before {
    width: 100%;
}

/* //////////////////////////////////inicio////////////////////////////////////// */

.comeco {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.foto-do-perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid var(--oitava-cor);
    box-shadow: 0 0 10px var(--quinta-cor);
}

h1 {
    font-size: 3.0rem;
    color: white;
    font-weight: bold;
    margin: 10px;
    text-shadow: -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}

.sub-descrição {
    font-size: 1.5rem;
    font-family: "Bebas Neue", sans-serif;
    color: white;
    font-weight: bold;
    margin: 10px;
    text-shadow: -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}

/* //////////////////////////////////sobre mim////////////////////////////////////// */

.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    text-shadow: -2px -2px 0 black,
        2px -2px 0 black,
        -2px 2px 0 black,
        2px 2px 0 black;
}

/* margin auto para centralizar a caixa de texto, max-width para limitar a largura e padding para espaçamento interno */
.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border-radius: 16px;
    border: 1px solid;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.457);
}

.sobre-texto {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

/* //////////////////////////////////projetos////////////////////////////////////// */